body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
form {
  height: 80px;
  position: sticky;
  top: 0;
  background: #eee;
  width: 2300px;
}
.default {
  width: 2300px;
}
.display-area {
  background: #eee;
  width: min-content;
}
.output {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 5px;
}

.heading {
  padding: 10px;
  font-weight: bold;
  position: sticky;
  top: 80px;
  background: white;
  padding: 15px;
}
.grid-item {
  background: white;
  padding: 15px;
}
